code {
  color: var(--today-web-secondary-color);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.today-web-view-cli-img {
  margin-top: 2%;
}

.today-web-view-cli-img img {
  width: 80%;
  border: 2px solid var(--today-web-secondary-color);
}

.today-web-view-cli-img img:hover {
  transform: scale(1.2);
}