.today-web-app-layout-container {
  display: grid;
  grid-template-columns: 100%;
}

.today-web-app-container {
  text-align: center;
  font-size: 24px;
}

.today-web-app-component {
  display: grid;
}